body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2fb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  color: rgba(0, 255, 170, 0.787);
}

.logo {
  text-decoration: none;
  color: rgb(251, 251, 251);
}

.navigation li {
  list-style: none;
}
.navigation a {
  text-decoration: none;
  color: rgba(0, 255, 170, 0.787);
}

.item {
  width: 300px;
  margin: 0 3%;
  margin-top: 3%;
  box-shadow: 0px 0px 5px 0px lightgray;
  border-radius: 10px;
  background-color: rgb(197, 197, 197);
}

.button_buy {
  width: 90%;
  margin-bottom: 5%;
  height: 40px;
  background-color: rgba(0, 255, 170, 0.787);
  border: 1px solid rgba(0, 255, 170, 0.787);
  border-radius: 5px;
  color: rgb(104, 104, 104);
  font-size: 18px;
  cursor: pointer;
  outline: none;
  transition: all 0.4s;
}

.button_buy:hover {
  color: rgb(41, 41, 41);
  position: relative;
  box-shadow: 0 20px 30px -11px rgba(31, 35, 65, 0.37);
  background-color: rgba(66, 245, 185, 0.787);
  border: 1px solid rgba(66, 251, 190, 0.787);
  transform: translate(0px, -5px);
  transition: transform 0.4s, box-shadow 0.4s, background-color 0.4s,
    border 0.4s;
}

.cart {
  opacity: 0.8;
  position: fixed;
  height: 100vh;
  background-color: white;
  transform: translateX(100%);
  width: 25%;
  right: 0;
  top: 0;
  z-index: 100;
  overflow: hidden;
  animation: slideout 0.3s;
}

.cart .cart-title {
  display: none !important;
}

.cart .cart-container {
  display: none;
}

.cart-active {
  opacity: 0.8;
  position: fixed;
  height: 100vh;
  background-color: white;
  width: 25%;
  right: 0;
  top: 0;
  z-index: 100;
  display: block;
  overflow: hidden;
  animation: slidein 0.3s;
}

.close-cart {
  font-size: 25px;
  position: absolute;
  left: 90%;
  top: 2px;
  color: rgb(206, 71, 71);
}

.close-cart:hover {
  cursor: pointer;
}

.cart-title {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.cart-title-empty {
  text-align: center;
}

.card-img {
  max-width: 60px;
  margin: 5px;
}

.delete-product {
  font-size: 24px;
  margin-left: 1rem;
  cursor: pointer;
  color: brown;
}

.quantity-button {
  width: 30px;
  margin: 2px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 20px;
}

.pay_button {
  margin-top: 5rem;
  cursor: pointer;
  background-color: black;
  border: none;
  font-size: 20px;
  height: 40px;
  padding: 0 2rem;
  color: white;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.single_product {
  padding-top: 5%;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.single_product .button_buy {
  width: 150%;
}

.single_product_information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profile {
  margin: 0 15%;
}

.input-settings {
  width: 80%;
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideout {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
